.app__heading h1 {
  font-size: 45px;
  font-weight: 700;
  color: #3b71ca;
  letter-spacing: 0.1rem;
  line-height: 50px;
  text-align: center;
  margin: 2rem;
}
body {
  background-color: rgb(206, 215, 221);
}
/* css of divider line below */
#app__dividerline {
  border: 1px solid rgb(106, 104, 104);
  height: 1px;
  margin: 0 13rem;
  opacity: 0.4;
}

.section__padding {
  padding: 2rem 4rem;
}
